#
# ChipWhisperer MPSSE — SWD via PDIC (pin 13) / PDID (pin 15)
#
# VID:PID  CWLite = 0x2b3e:0xace2
#          CWPro  = 0x2b3e:0xace3
#          CWHusky= 0x2b3e:0xace5
# Change the line below to match your hardware.

adapter driver ftdi
ftdi vid_pid 0x2b3e 0xace2
ftdi channel 1
ftdi layout_init 0x001B 0x001B
ftdi layout_signal nSRST -data 0x0010
ftdi layout_signal SWD_EN -data 0x0100
ftdi layout_signal SWDIO_OE -data 0x0200
adapter speed 500
transport select swd
reset_config srst_push_pull